# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.idea/

# Visual Studio / IDE
*.sln
*.suo
*.user
*.userosscache
*.VC.db
*.VC.opendb
*.opensdf
*.sdf

# Logs & Crashes
*.log
Crashes/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
*.bak
*.old